{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<br>
<div class="container">
            {% include "layouts/_flash_message.html.twig" %}
            <br>
            <h1 class="text-center">Connexion</h1>
            <form method="post" action="{{ path('app_login') }}" class="security-form">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="inputEmail" name="email" class="form-control" autocomplete="email" required autofocus>  
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="inputPassword" name="password" class="form-control" required>
                    <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
                </div>
                <button type="submit" class="user-btn btn btn-lg btn-primary">Connexion</button>
            </form>
            {% if error %}
                <div class="alert alert-danger mt-3">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
</div>
<div class="text-center mt-3" class="register-link">
    {% if app.user %}
        <span>Welcome back, {{ app.user.firstName }} !</span>
        <br>
        <a href="{{ path('app_logout') }}">Déconnexion</a>
    {% else %}
        <span>Vous n’avez pas encore de compte ?</span>
        <br>
        <a href="{{ path('app_register') }}">Inscription</a>
    {% endif %}
</div>
{% endblock %}
