{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container">
<br>
    <h1>{% if subCategory.name %} {{ category.name }}{% endif %}</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-md-3 mt-4">
                <div class="card" style="width: 20vh;">
                    {% if product.image %}
                        <a href="{{ path('app_home_product_show', { 'id': product.id}) }}">
                            <img src="{{ asset('uploads/images/' ~ product.image) }}" 
                                 class="card-img-top" alt="{{ product.name }}" />
                        </a>
                    {% else %}
                        <img src="{{ asset('uploads/images/no_image_available_500x358.png') }}" 
                             class="card-img-top" alt="Placeholder image"/>
                    {% endif %}
                    <div class="card-body">
                        <a style="text-decoration: none" href="{{ path('app_home_product_show', { 'id': product.id}) }}">
                            <h5 class="card-title">{{ product.name }}</h5>
                        </a>
                        <p class="card-text text-truncate">{{ product.description }}</p>
                        <h3>{{ product.price }} €</h3>
                        <a href="{{ path('app_cart_add', { 'id': product.id}) }}" class="btn btn-outline-success">Ajouter au panier</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Aucun produit disponible.</p>
        {% endfor %}
    </div>
    <br>
    {{ knp_pagination_render(products, 'layouts/pagination.html.twig') }}
</div>
{% endblock %}
