{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="security-form">
        <h1>Inscription</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            {{ form_widget(registrationForm.firstName, {'attr': {'class': 'form form-control', 'placeholder': "Prénom"}}) }}
            <br>
            {{ form_widget(registrationForm.lastName, {'attr': {'class': 'form form-control', 'placeholder': "Nom"}}) }}
            <br>
            {{ form_widget(registrationForm.email, {'attr': {'class': 'form form-control', 'placeholder': "Email"}}) }}
            <br>
            {{ form_widget(registrationForm.plainPassword, {'label': 'password ', 'attr': {'class': 'form form-control', 'placeholder': "Mot de passe"}}) }}

            <div class="checkbox-group">
                {{ form_row(registrationForm.agreeTerms, {
                    label: 'J’accepte les conditions d’utilisation',
                    attr: {'class': 'form-check-input'}
                }) }}
            </div>
            <br>
            <button type="submit" class="user-btn btn btn-lg btn-primary">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </div>

    <div class="register-link">
        {% if app.user %}
            <span>Welcome back, {{ app.user.firstName }} !</span>
            <a href="{{ path('app_logout') }}">Déconnexion</a>
        {% else %}
            <span>Vous avez déjà un compte ?</span>
            <a href="{{ path('app_login') }}">Connexion</a>
        {% endif %}
    </div>
{% endblock %}
